@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

a {
  transition: .5s;
}

html {
  color: #808782;
}

.about-section {
  position: relative;
  left: 1%;
}

.about-section p {
  line-height: 2;
  font-size: 1.3vw;
  margin-bottom: 1%;
  margin-right: 5%;
}

.minibanner {
  width: 300px;
  height: 400px;
  background-image: url('../Images/banner3.jpg');
  background-position: center;
  background-size: cover;
  float: left;
}

#banner {
  height: 20em;
  width: 102.5%;
  margin-left: -2.5%;
  object-fit: cover;
  filter: drop-shadow(8px 8px 10px #F7AEF8);
}

#content {
  position: absolute;
  left: 22%;
}

#content h2, #content h3, #content h4 {
  color: #FF784F;
  margin-bottom: 3%;
}

#content h2 {
  font-size: 3vw;
}

#content h3 {
  font-size: 2.5vw;
}

#content h4 {
  font-size: 2vw;
}

#logo-doceria {
  width: 30%;
  height: 30%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#sidebar {
  position: fixed;
  height: 100%;
  width: 20%;
  background-color: rgba(49, 61, 90, 0.9);
  padding-top: 4%;
}

#sidebar a {
  color: #fffffa;
  text-decoration: none;
  font-size: 1.7vw;
}

#sidebar a:hover {
  background-color: (#313d5a, 0.5);
  background-image: linear-gradient(45deg, #ff784f, #f7aef8);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#sidebar h1 {
  color: #fffffa;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 15%;
}

#sidebar li {
  padding: 3%;
  font-family: 'Baloo 2';
}

#sidebar-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#welcome-content-section {
  padding-left: 5%;
}

#welcome-section h2 {
  margin-top: 5%;
}

#welcome-section::after, #about-us-section::after {
  content: "";
  display: block;
  clear: both;
  margin-bottom: 5%;
}

#welcome-section-btn, form input[type=submit] {
  background-color: #F7AEF8;
  color: #FFFFFA;
  text-decoration: none;
  padding: 2% 4%;
  transition: 1s;
  display: block;
  width: 10%;
  text-align: center;
  border: double #808782;
  cursor: pointer;
  margin-left: 30%;
}

#welcome-section-btn:hover, form input[type=submit]:hover {
  background-color: #808782;
}

@media (max-width: 320px) {
  #doceria-sidebar{
    font-family: 'Emilys Candy';
    font-size: 6vw;
  }

  #logo-doceria {
    width: 5%;
    height: 5%;
    display: block;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
  }
  
  #sidebar {
    position: fixed;
    height: 15%;
    width: 100%;
    background-color: rgba(49, 61, 90, 0.9);
    padding-top: 4%;
    display: block;
  }

  #sidebar a {
    display:block;
	  text-decoration:none;
	  color: #fffffa;
  }

  #sidebar h1 {
    display: block;
    float: left;
    margin-left: 5%;
    margin-top: 4%;
    color: #fffffa;
  }

  #sidebar li {
    display: inline;
    float: left;
    margin-left:2px;
    width:10%;
  }

  #sidebar-container {
    display: block;
    align-items: center;
  }

}

@media (min-width: 375px) {
  #doceria-sidebar {
    font-family: 'Emilys Candy';
    font-size: 4.5vw;
  }
}

@media (min-width: 425px) {
  #doceria-sidebar {
    font-family: 'Emilys Candy';
    font-size: 4.5vw;
  }
}

@media (min-width: 768px) {
  #doceria-sidebar {
    font-family: 'Emilys Candy';
    font-size: 5vw;
  }
}

@media (min-width: 1024px) {
  #doceria-sidebar {
    font-family: 'Emilys Candy';
    font-size: 3.5vw;
  }
}