@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

::selection {
  color: #808782;
  background: #F7AEF8;
}

a {
  transition: .5s;
}

footer {
  font-family: 'Pacifico';
  height: 10%;
  padding: 2%;
  padding-top: 5%;
  text-align: right;
}

h2, h4 {
  font-family: 'Maven Pro';
}

h3 {
  font-family: 'Inconsolata';
}

html {
  color: #808782;
  background-image: linear-gradient(to bottom right, #FFFFFF, #FFFFFA);
  scroll-behavior: smooth;
}

p {
  font-family: 'Raleway';
}

.about-section {
  position: relative;
  left: 1%;
}

.about-section p {
  line-height: 2;
  font-size: 1.3vw;
  margin-bottom: 1%;
  margin-right: 5%;
}

.banner-gallery {
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 20%;
}

.doces1-imgs {
  width: 18.8%;
  margin-left: .5%;
  margin-right: .5%;
  height: 200px;
  border-radius: 50%;
}

.doces2-imgs {
  width: 32.3%;
  margin-left: .5%;
  margin-right: .5%;
  height: 200px;
  border-radius: 50%;
}

.doces3-imgs {
  width: 23.9%;
  margin-left: .5%;
  margin-right: .5%;
  height: 200px;
  border-radius: 50%;
}

.minibanner {
  width: 300px;
  height: 400px;
  background-image: url('../Images/banner3.jpg');
  background-position: center;
  background-size: cover;
  float: left;
  border-radius: 15px 50px 30px 5px;
}

#about-us-section .minibanner {
  float: right;
  margin-right: 50px;
  background-image: url('../Images/banner4.jpg');
  border-radius: 30px 50px 15px;
}

#about-us-section .about-section {
  position: absolute;
  left: 25px;
  width: calc(100% - 400px);
}

#banner {
  height: 20em;
  width: 102.5%;
  margin-left: -2.5%;
  object-fit: cover;
  filter: drop-shadow(8px 8px 10px #F7AEF8);
}

#contact-form {
  width: 50%;
}

#contact-form input[type=text], #contact-form input[type=email], #contact-form textarea {
  display: block;
  border: 1px solid #808782;
  padding: 1%;
  margin-bottom: 2%;
  width: 100%;
  font-size: 1.5vw;
  font-family: 'Raleway';
}

#contact-form input[type=text]:focus, #contact-form input[type=email]:focus, #contact-form textarea:focus {
  outline-color: #313D5A;
}

#contact-form textarea {
  height: 150px;
}

#contact-form ::placeholder {
  color: #F7AEF8;
}

#contact-form input[type=submit] {
  margin-left: 0;
  width: 25%;
  font-size: 1.5vw;
}

#content {
  position: absolute;
  left: 22%;
}

#content h2, #content h3, #content h4 {
  color: #FF784F;
  margin-bottom: 3%;
}

#content h2 {
  font-size: 3vw;
}

#content h3 {
  font-size: 2.5vw;
}

#content h4 {
  font-size: 2vw;
}

#doces1-section, #doces2-section, #doces3-section {
  padding-right: 5%;
  margin-bottom: 5%;
}

#img1 {
  background-image: url('../Images/galeria1.jpg');
  margin-left: 0;
}

#img2 {
  background-image: url('../Images/galeria2.jpg');
}

#img3 {
  background-image: url('../Images/galeria3.jpg');
}

#img4 {
  background-image: url('../Images/galeria4.jpg');
}

#img5 {
  background-image: url('../Images/galeria5.jpg');
  margin-right: 0;
}

#img6 {
  background-image: url('../Images/galeria6.jpg');
  margin-left: 0;
}

#img7 {
  background-image: url('../Images/galeria7.jpg');
}

#img8 {
  background-image: url('../Images/galeria8.jpg');
  margin-right: 0;
}

#img9 {
  background-image: url('../Images/galeria9.jpg');
  margin-left: 0;
}

#img10 {
  background-image: url('../Images/galeria10.jpg');
}

#img11 {
  background-image: url('../Images/galeria11.jpg');
}

#img12 {
  background-image: url('../Images/galeria12.jpg');
  margin-right: 0;
}

#logo-doceria {
  width: 30%;
  height: 30%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#sidebar {
  position: fixed;
  height: 100%;
  width: 20%;
  background-color: rgba(49, 61, 90, 0.9);
  padding-top: 4%;
}

#sidebar a {
  color: #fffffa;
  text-decoration: none;
  font-size: 1.7vw;
}

#sidebar a:hover {
  background-color: (#313d5a, 0.5);
  background-image: linear-gradient(45deg, #ff784f, #f7aef8);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#sidebar h1 {
  color: #fffffa;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 15%;
}

#sidebar li {
  padding: 3%;
  font-family: 'Baloo 2';
}

#sidebar-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#welcome-content-section {
  padding-left: 5%;
}

#welcome-section h2 {
  margin-top: 5%;
}

#welcome-section::after, #about-us-section::after {
  content: "";
  display: block;
  clear: both;
  margin-bottom: 5%;
}

#welcome-section-btn:hover {
  animation: wiggle 2s linear;
}

#welcome-section-btn, form input[type=submit] {
  background-color: #F7AEF8;
  color: #FFFFFA;
  text-decoration: none;
  padding: 2% 4%;
  transition: 1s;
  display: block;
  width: 10%;
  text-align: center;
  border: double #808782;
  cursor: pointer;
  margin-left: 30%;
  font-family: 'Raleway';
  border-radius: 8px;
}

#welcome-section-btn:hover, form input[type=submit]:hover {
  background-color: #808782;
  animation: wiggle 2s linear;
}

@media (max-width: 320px) {
  form {
    margin-left: -50px;
  }

  h2, h4 {
    font-family: 'Maven Pro';
    margin-left: -50px;
  }
  
  h3 {
    font-family: 'Inconsolata';
    margin-left: -50px;
  }

  .about-section p {
    line-height: 2;
    font-size: 2vw;
    margin-bottom: 1%;
    margin-right: 5%;
    margin-left: -50px;
  }

  .doces1-imgs {
    width: 18%;
    height: 90px;
    border-radius: 0;
  }
  
  .doces2-imgs {
    width: 30%;
    margin-left: .5%;
    margin-right: .5%;
    height: 90px;
    border-radius: 0;
  }
  
  .doces3-imgs {
    width: 23%;
    margin-left: .5%;
    margin-right: .5%;
    height: 90px;
    border-radius: 0;
  }

  .minibanner {
    width: 100px;
    height: 140px;
    background-image: url('../Images/banner3.jpg');
    background-position: center;
    background-size: cover;
    float: left;
    margin-left: -50px;
    border-radius: 0;
  }

  #about-us-section .about-section {
    position: absolute;
    left: 1px;
    width: 150px;
  }

  #about-us-section .minibanner {
    float: right;
    background-image: url('../Images/banner4.jpg');
    border-radius: 0;
  }

  #banner {
    height: 7em;
    width: 410px;
    margin-left: -70px;
    margin-top: 27%;
    object-fit: cover;
    filter: drop-shadow(8px 8px 10px #F7AEF8);
    right: 500px;
  }

  #doceria-sidebar{
    font-family: 'Emilys Candy';
    font-size: 6vw;
  }

  #img1 {
    background-image: url('../Images/galeria1.jpg');
    margin-left: -50px;
    opacity: 1;
  }

  #img6 {
    background-image: url('../Images/galeria6.jpg');
    margin-left: -50px;
  }

  #img9 {
    background-image: url('../Images/galeria9.jpg');
    margin-left: -50px;
  }

  #logo-doceria {
    width: 5%;
    height: 5%;
    display: block;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
  }
  
  #sidebar {
    z-index: 1;
    height: 10%;
    width: 100%;
    background-color: rgba(49, 61, 90, 0.9);
    padding-top: 4%;
    display: block;
  }

  #sidebar a {
    display:block;
	  text-decoration:none;
	  color: #fffffa;
  }

  #sidebar h1 {
    display: block;
    float: left;
    margin-left: 5%;
    margin-top: 4%;
    color: #fffffa;
  }

  #sidebar li {
    display: inline;
    float: left;
    margin-left:2px;
    width:10%;
  }

  #sidebar-container {
    display: relative;
    align-items: center;
  }

  #welcome-section-btn, form input[type=submit] {
    background-color: #F7AEF8;
    color: #FFFFFA;
    text-decoration: none;
    padding: 2% 4%;
    transition: 1s;
    display: block;
    width: 23%;
    font-size: 4vw;
    text-align: center;
    border: double #808782;
    cursor: pointer;
    margin-left: 20%;
    font-family: 'Raleway';
  }

}

@media (min-width: 375px) {
  .doces1-imgs {
    width: 18%;
    margin-left: .5%;
    height: 90px;
    border-radius: 0;
  }
  
  .doces2-imgs {
    width: 30%;
    margin-left: .5%;
    margin-right: .5%;
    height: 90px;
    border-radius: 0;
  }
  
  .doces3-imgs {
    width: 23%;
    margin-left: .5%;
    margin-right: .5%;
    height: 90px;
    border-radius: 0;
  }

  #about-us-section .about-section {
    position: relative;
    left: 1px;
  }

  #about-us-section .minibanner {
    float: right;
    background-image: url('../Images/banner4.jpg');
    border-radius: 0;
  }

  #banner {
    height: 10em;
    width: 102.5%;
    object-fit: cover;
    filter: drop-shadow(8px 8px 10px #F7AEF8);
  }

  #doceria-sidebar {
    font-family: 'Emilys Candy';
    font-size: 4.5vw;
  }

  #welcome-section-btn, form input[type=submit] {
    background-color: #F7AEF8;
    color: #FFFFFA;
    text-decoration: none;
    padding: 2% 4%;
    transition: 1s;
    display: block;
    width: 25%;
    text-align: center;
    border: double #808782;
    cursor: pointer;
    margin-left: 40%;
    font-family: 'Raleway';
    font-size: 2vw;
  }

  .minibanner {
    width: 100px;
    height: 150px;
    background-image: url('../Images/banner3.jpg');
    background-position: center;
    background-size: cover;
    float: left;
    border-radius: 0;
    margin-left: 2.9%;
  }

  h2, p {
    margin-left: 5%;
  }
}

@media (min-width: 425px) {
  .doces1-imgs {
    width: 18%;
    margin-left: .5%;
    height: 100px;
    border-radius: 0;
  }
  
  .doces2-imgs {
    width: 30%;
    margin-left: .5%;
    margin-right: .5%;
    height: 100px;
    border-radius: 0;
  }
  
  .doces3-imgs {
    width: 23%;
    margin-left: .5%;
    margin-right: .5%;
    height: 100px;
    border-radius: 0;
  }

  .minibanner {
    width: 100px;
    height: 150px;
    background-image: url('../Images/banner3.jpg');
    background-position: center;
    background-size: cover;
    float: left;
    border-radius: 0;
    margin-left: 2.9%;
  }

  #about-us-section .about-section {
    position: relative;
    left: 1px;
  }

  #about-us-section .minibanner {
    float: right;
    background-image: url('../Images/banner4.jpg');
    border-radius: 0;
  }

  #banner {
    height: 10em;
    width: 102.5%;
    object-fit: cover;
    filter: drop-shadow(8px 8px 10px #F7AEF8);
  }

  #doceria-sidebar {
    font-family: 'Emilys Candy';
    font-size: 4.5vw;
  }

  #img1 {
    background-image: url('../Images/galeria1.jpg');
  }
  
  #img2 {
    background-image: url('../Images/galeria2.jpg');
  }
  
  #img3 {
    background-image: url('../Images/galeria3.jpg');
  }
  
  #img4 {
    background-image: url('../Images/galeria4.jpg');
  }
  
  #img5 {
    background-image: url('../Images/galeria5.jpg');
    margin-right: 0;
  }

  #welcome-section-btn, form input[type=submit] {
    background-color: #F7AEF8;
    color: #FFFFFA;
    text-decoration: none;
    padding: 2% 4%;
    transition: 1s;
    display: block;
    width: 25%;
    text-align: center;
    border: double #808782;
    cursor: pointer;
    margin-left: 40%;
    font-family: 'Raleway';
    font-size: 2vw;
  }

  h2, p {
    margin-left: 5%;
  }

}

@media (min-width: 768px) {
  .doces1-imgs {
    width: 18%;
    margin-left: .5%;
    margin-right: .5%;
    height: 150px;
    border-radius: 0;
  }
  
  .doces2-imgs {
    width: 32%;
    margin-left: .5%;
    margin-right: .5%;
    height: 150px;
    border-radius: 0;
  }
  
  .doces3-imgs {
    width: 23%;
    margin-left: .5%;
    margin-right: .5%;
    height: 150px;
    border-radius: 0;
  }

  .minibanner {
    width: 200px;
    height: 300px;
    background-image: url('../Images/banner3.jpg');
    background-position: center;
    background-size: cover;
    float: left;
    border-radius: 15px 50px 30px 5px;
  }

  #about-us-section .minibanner {
    float: right;
    margin-right: 50px;
    background-image: url('../Images/banner4.jpg');
    border-radius: 30px 50px 15px;
  }

  #banner {
    height: 15em;
    width: 102.5%;
    margin-left: -2.5%;
    object-fit: cover;
    filter: drop-shadow(8px 8px 10px #F7AEF8);
  }

  #doceria-sidebar {
    font-family: 'Emilys Candy';
    font-size: 5vw;
  }

  #welcome-section-btn, form input[type=submit] {
    background-color: #F7AEF8;
    color: #FFFFFA;
    text-decoration: none;
    padding: 2% 4%;
    transition: 1s;
    display: block;
    width: 15%;
    text-align: center;
    border: double #808782;
    cursor: pointer;
    margin-left: 50%;
    font-family: 'Raleway';
  }
}

@media (min-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  #doceria-sidebar {
    font-family: 'Emilys Candy';
    font-size: 3.5vw;
  }

  #welcome-section-btn, form input[type=submit] {
    background-color: #F7AEF8;
    color: #FFFFFA;
    text-decoration: none;
    padding: 2% 4%;
    transition: 1s;
    display: block;
    width: 20%;
    text-align: center;
    border: double #808782;
    cursor: pointer;
    margin-left: 40%;
    font-family: 'Raleway';
  }

  .doces1-imgs {
    width: 18.8%;
    margin-left: .5%;
    margin-right: .5%;
    height: 200px;
    border-radius: 50%;
  }
  
  .doces2-imgs {
    width: 32.3%;
    margin-left: .5%;
    margin-right: .5%;
    height: 200px;
    border-radius: 50%;
  }
  
  .doces3-imgs {
    width: 23.9%;
    margin-left: .5%;
    margin-right: .5%;
    height: 200px;
    border-radius: 50%;
  }

  .minibanner {
    width: 300px;
    height: 400px;
    background-image: url('../Images/banner3.jpg');
    background-position: center;
    background-size: cover;
    float: left;
    border-radius: 15px 50px 30px 5px;
  }
}